html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  background-color: #ffffffde;
}

.w-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pb-1 {
  padding-bottom: 1em;
}

.p-15 {
  padding: 15px;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.neat-border {
  border: 2px solid #ccc;
  border-radius: 4px;
}

.text-truncate {
  text-overflow: ellipsis;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 0px) {
  .col-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 8.33333%;
  }
  .col-1:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66667%;
  }
  .col-2:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .col-3:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333%;
  }
  .col-4:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66667%;
  }
  .col-5:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
  }
  .col-6:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.33333%;
  }
  .col-7:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66667%;
  }
  .col-8:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
  }
  .col-9:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333%;
  }
  .col-10:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66667%;
  }
  .col-11:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-12:after {
    display: table;
    clear: both;
    content: '';
  }
}

@media (min-width: 0px) {
  .col-xs-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 8.33333%;
  }
  .col-xs-1:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66667%;
  }
  .col-xs-2:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .col-xs-3:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333%;
  }
  .col-xs-4:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66667%;
  }
  .col-xs-5:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
  }
  .col-xs-6:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.33333%;
  }
  .col-xs-7:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66667%;
  }
  .col-xs-8:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
  }
  .col-xs-9:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333%;
  }
  .col-xs-10:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66667%;
  }
  .col-xs-11:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-xs-12:after {
    display: table;
    clear: both;
    content: '';
  }
}

@media (min-width: 481px) {
  .col-sm-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 8.33333%;
  }
  .col-sm-1:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66667%;
  }
  .col-sm-2:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .col-sm-3:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333%;
  }
  .col-sm-4:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66667%;
  }
  .col-sm-5:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
  }
  .col-sm-6:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.33333%;
  }
  .col-sm-7:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66667%;
  }
  .col-sm-8:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
  }
  .col-sm-9:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333%;
  }
  .col-sm-10:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66667%;
  }
  .col-sm-11:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-sm-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-sm-12:after {
    display: table;
    clear: both;
    content: '';
  }
}

@media (min-width: 769px) {
  .col-md-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 8.33333%;
  }
  .col-md-1:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66667%;
  }
  .col-md-2:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .col-md-3:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333%;
  }
  .col-md-4:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66667%;
  }
  .col-md-5:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
  }
  .col-md-6:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.33333%;
  }
  .col-md-7:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66667%;
  }
  .col-md-8:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
  }
  .col-md-9:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333%;
  }
  .col-md-10:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66667%;
  }
  .col-md-11:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-md-12:after {
    display: table;
    clear: both;
    content: '';
  }
}

@media (min-width: 1025px) {
  .col-lg-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 8.33333%;
  }
  .col-lg-1:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-2 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 16.66667%;
  }
  .col-lg-2:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-3 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .col-lg-3:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333%;
  }
  .col-lg-4:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 41.66667%;
  }
  .col-lg-5:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-6 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
  }
  .col-lg-6:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-7 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 58.33333%;
  }
  .col-lg-7:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66667%;
  }
  .col-lg-8:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-9 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
  }
  .col-lg-9:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-10 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 83.33333%;
  }
  .col-lg-10:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 91.66667%;
  }
  .col-lg-11:after {
    display: table;
    clear: both;
    content: '';
  }
  .col-lg-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .col-lg-12:after {
    display: table;
    clear: both;
    content: '';
  }
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.image-gallery-grid-controller__thumbs-per-page-input, .image-gallery-paginator__current-page, .image-gallery-search-author__input {
  width: 100%;
  padding: 0.375em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.image-gallery-search-author__label {
  padding: 0.375em;
  display: inline-block;
}

.image-gallery-paginator__button, .image-gallery-modal__close-button {
  background-color: #47b8d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.image-gallery-paginator__button:hover, .image-gallery-modal__close-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid teal;
}

.go-to-top {
  height: 4%;
  width: 4%;
  text-align: center;
  background-color: grey;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  position: fixed;
  top: 90%;
  left: 90%;
  z-index: 1200;
  border-radius: 6px;
  cursor: pointer;
}

.go-to-top:hover {
  background-color: blue;
}

.go-to-top:active {
  background-color: white;
}

.image-gallery-grid-controller__thumbs-per-page-input, .image-gallery-paginator__current-page, .image-gallery-search-author__input {
  width: 100%;
  padding: 0.375em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.image-gallery-search-author__label {
  padding: 0.375em;
  display: inline-block;
}

.image-gallery-paginator__button, .image-gallery-modal__close-button {
  background-color: #47b8d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.image-gallery-paginator__button:hover, .image-gallery-modal__close-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid teal;
}

.image-gallery-grid-controller__thumbs-per-page-slider {
  width: 100%;
}

.image-gallery-grid-controller__thumbs-per-page-input, .image-gallery-paginator__current-page, .image-gallery-search-author__input {
  width: 100%;
  padding: 0.375em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.image-gallery-search-author__label {
  padding: 0.375em;
  display: inline-block;
}

.image-gallery-paginator__button, .image-gallery-modal__close-button {
  background-color: #47b8d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.image-gallery-paginator__button:hover, .image-gallery-modal__close-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid teal;
}

.image-gallery-paginator__current-page {
  margin-right: 0px;
  padding-right: 0px;
  text-align: right;
  border: 0px !important;
  text-align: right;
  -moz-appearance: textfield !important;
  font-size: 1rem;
}

.image-gallery-paginator__current-page::-webkit-outer-spin-button, .image-gallery-paginator__current-page::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image-gallery-paginator__current-page-div {
  margin-right: 0px;
  padding-right: 0px;
}

.image-gallery-paginator__total-pages {
  margin-left: 0px;
  padding-left: 0px;
}

.image-gallery-grid-controller__thumbs-per-page-input, .image-gallery-paginator__current-page, .image-gallery-search-author__input {
  width: 100%;
  padding: 0.375em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.image-gallery-search-author__label {
  padding: 0.375em;
  display: inline-block;
}

.image-gallery-paginator__button, .image-gallery-modal__close-button {
  background-color: #47b8d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.image-gallery-paginator__button:hover, .image-gallery-modal__close-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid teal;
}

.image-gallery-thumb {
  width: 100%;
  height: auto;
}

.image-gallery-thumb__img {
  resize: both;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  width: 100%;
}

.image-gallery-thumb__img:hover {
  filter: sepia(75%);
}

.image-gallery-thumb__id-border {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 9999px;
  background-color: lightgray;
}

.image-gallery-thumb__id-border:hover {
  color: gray;
}

.image-gallery-thumb__info-bar {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.image-gallery-thumb__author {
  text-overflow: ellipsis;
  cursor: pointer;
}

.image-gallery-thumb__author:hover {
  color: gray;
}

.image-gallery-thumb__id {
  color: black;
}

.image-gallery-thumb__id:hover {
  color: white;
}

.image-gallery-thumb__loading-spinner {
  background-color: white;
  width: 100%;
  height: auto;
  /* todo to add rotating spinner */
}

.image-gallery-thumb__loading-background {
  background-color: white;
  width: 100%;
  height: 220px;
  /* todo to add rotating spinner */
}

.image-gallery-thumb__loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-gallery-grid-controller__thumbs-per-page-input, .image-gallery-paginator__current-page, .image-gallery-search-author__input {
  width: 100%;
  padding: 0.375em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.image-gallery-search-author__label {
  padding: 0.375em;
  display: inline-block;
}

.image-gallery-paginator__button, .image-gallery-modal__close-button {
  background-color: #47b8d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.image-gallery-paginator__button:hover, .image-gallery-modal__close-button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid teal;
}

.image-gallery-modal__modal-base {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-gallery-modal__modal-content {
  background-color: #fefefe;
  margin: 5% auto auto auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
}

.image-gallery-modal__img {
  resize: both;
  max-width: 100%;
  height: auto;
}

.image-gallery-modal__loading-background {
  background-color: white;
  width: 100%;
  height: 35%;
  /* todo to add rotating spinner */
}

.image-gallery-modal__loading-spinner {
  border: 16px solid whitesmoke;
  border-top: 16px solid teal;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
