.image-gallery-thumb {
    width: 100%;
    height: auto;

    &__img {
        resize: both;
        max-width: 100%;
        height: auto;
        cursor: pointer;
        width: 100%;

        &:hover {
            filter: sepia(75%)
        }
    }

    &__id-border {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-radius: 9999px;
        background-color: lightgray;

        &:hover {
            color: gray;
        }
    }

    &__info-bar {
        padding-top: 6px;
        padding-bottom: 10px;
        padding-left:5px;
        padding-right:5px;
    }

    &__author {
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            color: gray;
        }
    }

    &__id {
        color:black;
        &:hover {
            color: white;
        }
    }

    &__loading-spinner {
        background-color: white;
        width: 100%;
        height: auto;
        /* todo to add rotating spinner */
    }

    &__loading-background {
        background-color: white;
        width: 100%;
        height: 220px;
        /* todo to add rotating spinner */
    }

    &__loading-spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}