
$gridSettings : (
    maxWidth: $full-container-width,
    columns: $num-of-columns,
    margin: $base-margin*1px,
    marginInt: $base-margin,
    breakpoints: (
        base:"(min-width : 0px)",
        xs: "(min-width : 0px)",
        sm: "(min-width: 481px)",
        md: "(min-width: 769px)",
        lg: "(min-width : 1025px)"
    ),
    maxWidths:(
        base:1200,
        xs: 480,
        sm: 768,
        md: 1024,
        lg: 1200,
    )
);

@mixin renderSingleGrid($key, $settings) {
    $i : 1;
    $tmp: map-get($settings,'maxWidths');
    $maxWidth: map-get($tmp,$key);
    $marginInPercent: map-get($settings,'marginInt') / $maxWidth * 100 * 2;

    @while $i <= map-get($settings, "columns") {
        $mediaKey : $key;
        @if $key == 'base' {
            $mediaKey: '';
        } 

        .col-#{$mediaKey}-#{$i} {
            float: left;
            // margin-right: map-get($settings,'margin');
            // margin-left: map-get($settings,'margin');
            position: relative;
            padding-right: 15px;
            padding-left: 15px;
            width: 100% * $i / map-get($settings,"columns") - $marginInPercent;
            &:after{
                display:table;
                clear:both;
                content:'';
            }
        }
        $i: $i + 1;
    }
}

@mixin renderGridCols($settings) {
    $breakpoints: map-get($settings, "breakpoints");
    @each $key, $bpoint in $breakpoints{
        @include media($bpoint){
            @include renderSingleGrid($key, $settings);
        }
    }
}

.container {
    width: 100%;
    padding-right: map-get($gridSettings, "margin");
    padding-left: map-get($gridSettings, "margin");
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -#{map-get($gridSettings, "margin")};
    margin-left: -#{map-get($gridSettings, "margin")};
    display:flex;
    flex-wrap:wrap;
  }




@include renderGridCols($gridSettings);