@import './variables';
@import './mixins';

@import './global_styles.scss';
@import './grid.scss';
@import './display.scss';
@import './modal.scss';
@import './forms.scss';





  .img-resize {
      resize: both;
      max-width: 100%;
      height: auto;
  }